<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/picnic.min.css" />
    <title>AMC Parasite</title>
    <style>
        /* main */
        h1 a {
            cursor: pointer;
        }
        body { /* night mode */
        /*
        ... breaks the fixed display of the focus button...
            background: #000020;
            filter: invert(100%);
            */
        }
        .debug {
            height: 300px;
            overflow-y: scroll;
            resize: both;
        }
        .current-menu {color: black;}

        /* grader */
        .current {
            border: 1px solid black;
        }

        .scroll-table {
            overflow-y: auto;
            height: 300px;
        }
        .scroll-table thead th {
            position: sticky;
            top: 0;
        }
        .exam-grade .autofocus {
            border: 10px solid red;
            top: 0;
            right: 0;
            display: block;
            position: fixed;
        }

        /* shared */

        .annotated-box, .scans {
            display: inline-block;
        }
        .annotated-box img {
            margin-bottom: 2em;
        }
        .annotated-box img, .scans img {
            height: 2.5em;
        }
        .hide-character-annotation .annotated-box img {
            margin-bottom: 0; /* override */
        }
        .hide-character-annotation .annotated-box .annotation {
            display: none;
        }
        .annotated-box .annotation {
            display: inline-block;
            width: 0;
            position: relative;
            left: -1em;
        }

        .sheet-image:not([data-ison]) {
            display: none;
        }
        .sheet-image {
            position: relative;
            border: 2px solid darkblue;
            position: fixed;
            --margin: 3vw;
            left: var(--margin);
            top: 2vh;
            /*width: calc(100vw - 2 * var(--margin));
            height: 98vh;*/
            transform-origin: 0 0;
            transform: scale(.33);
            background: white;
        }
        .sheet-image img {
            object-fit: contain;
        }
        .sheet-image .bbox {
        	position: absolute;
	        border: 3px solid rgba(255, 0, 0, 0.5);
        	border-bottom-width: 20px;
        	box-sizing: content-box;
        }

        /* unclassified */

        .user {
            border: 5px solid darkgrey;
        }
        .user span {
            font-weight: bold;
        }
        a {
            color: #42b983;
        }

        .unguessed {
            border: 1px solid black;
            padding: 3px;
            margin: 0 2px;
        }
        .unguessed.current {
            border-color: red;
        }

        #toggle:checked ~ .offOnToggle { display: none; }

        .img1em img { height: 1em; }
        .group { border-right: 2px solid black; }

        .for-miniset .sample { display: inline-block; text-align: center; }
        .current-miniset .sample { display: inline-block; border: 1px solid black; cursor: crosshair; text-align: center;}
        .leftborder { border-left: 10px solid yellow !important;}
    </style>

    <script type="text/x-template" id="component-exam-grade">
        <div class="exam-grade">
            {{status}}
            <button @click="doInit()">(re) load config.yaml / parasite.xlsx</button>
            <button @click="doSave()">...save</button>
            <select v-if="cfg.fields" v-model="currentField">
                <option v-for="(o,i) in fieldStringId" :value="i">{{o}}</option>
            </select>
            <button @keydown="keydown($event)" class="autofocus" :autofocus="'autofocus'" ref="autofocus">FOCUS</button>
            <label style="">
                <input type="checkbox" v-model="showAnnotations"/>
                <span>Show Annotations (toggle)</span>
            </label>
            <div class="for-table img1em" v-if="currentFieldDescription && boxes !== {}">
                <table :class="{'scroll-table': true, 'sorting-table':true, 'hide-character-annotation': !showAnnotations}" ref="table">
                    <thead>
                    <tr>
                        <th v-for="e in currentFieldDescription.propositions" :key="'th'+e"
                        NOstyle="'width:'+(100/currentFieldDescription.propositions.length)+'%'"
                        :class="{ ok: currentFieldDescription.ok === e }"
                        >|{{ e }}|</th>
                    </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th v-for="e in currentFieldDescription.propositions" :key="'tf'+e"
                            v-if="e.length === 1" title="add col. to miniset (shift to add all but this)"
                            @click="addColumnToMiniset(currentField, e)"
                            @click.shift="addColumnToMiniset(currentField, e, true)"
                            >+ {{ e }}</th>
                            <th v-else></th>
                        </tr>
                    </tfoot>
                    <tbody ref="userTable">
                    <tr v-for="(group, u) in boxes" :key="group.blob + '--' + u" :class="{current: orderedUsers[currentUser] === u}">
                    <td v-for="e in currentFieldDescription.propositions" :key="'td'+e"
                        @click.left="affectGuess(currentField, u, e)">
                        <span v-if="guess[currentField][u] === e" class="">
                            <span v-for="r in group.group.rows" :key="'character'+r[2]" class="annotated-box"
                                  @click.right.prevent="showSheetImage('cr/page-'+u+'-'+boxes[u].group.rows[0][4]+'.jpg', r[2])">
                                <img :src="r[13]" /><span class="annotation">{{r[12]}}</span>
                            </span>
                        </span>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="sheet-image" :data-ison="currentSheetImage !== ''" @click.left="currentSheetImage = ''">
                <img :src="currentSheetImage"/>
                <div class="bbox" :style="currentSheetImageBBox == null ? {display: 'none'} : {
                    left:   currentSheetImageBBox[0] + 'px',
                    width: (currentSheetImageBBox[1] - currentSheetImageBBox[0]) + 'px',
                    top:    currentSheetImageBBox[2] + 'px',
                    height:(currentSheetImageBBox[3] - currentSheetImageBBox[2]) + 'px',
                }"></div>
            </div>
          
            <!--
            <pre>{{JSON.stringify(guess)}}</pre>
            <ul>
                <li v-for="b in boxes">{{b}}</li>
            </ul>
            <pre>{{JSON.stringify(currentFieldDescription)}}</pre>
            -->
        </div>
    </script>

    <script type="text/x-template" id="component-exam-identify">

        <div class="exam-identify">
            <button @click="load_info()">load config.yaml / parasite.xlsx</button><br/>
            <button @click="iterateGuess()">do guess</button><br/>
            <button @click="save_xlsx()">...save</button><br/>

            Unguessed : <button @click="currentUnguessed--">«</button><input style="width: 3em; text-align: center" v-model="currentUnguessed"/><button @click="currentUnguessed++">»</button><br/>
            <span v-for="u in unguessed"
                :class="{unguessed: true, current: u===currentUnguessed}"
                :key="'ung'+u"
                @click="currentUnguessed = u"
                @click.right.prevent="showSheetImage('cr/page-'+u+'-'+boxes[u].groups[0].rows[0][4]+'.jpg')"
                >{{u}}</span>
            <hr/>

            <div v-if="boxes[currentUnguessed] !== undefined" class="img1em">
                <br/>
                <span v-for="group in boxes[currentUnguessed].groups" :key="'ungg'+group.blob" class="group">
                    <span v-for="r in group.rows" :key="'unggg'+r[2]" class="annotated-box">
                    <img :src="r[13]"/>
                    <span class="annotation">{{r[12]}}</span>
                    </span>
                </span>
            </div>
            
            <div v-if="false" class="all-boxes img1em">
                <div v-for="(log, u) in raw_boxes" :key="u">
                    {{u}}: <img v-for="r in log" :key="r[2]" :src="r[13]"/>
                </div>
            </div>
            <img :src="currentSheetImage" class="sheet-image" @click.left="currentSheetImage = ''"/>

            <input type="checkbox" id="toggle" />
            <label for="toggle" class="checkable">
                Show only unguessed
            </label>
            <div v-for="(row,i) in data_rows" :key="i" :class="{offOnToggle: guess[i] !== undefined}">
                <span :class="{unguessed: guess[i] === undefined}" @click="affect_user_to_row(currentUnguessed, i)">[ {{i}} ]</span>
                <span>{{ row[1] }}</span> --
                <span>{{ row[2] }}</span>
                ⇒
                <span v-if="guess[i]" class="img1em">
                    <a href=" " @click.prevent="addGuessToMiniset(boxes[guess[i]], row, guess[i], i)">[add-all]</a>
                    {{ guess[i] }}
                    <span v-for="group in boxes[guess[i]].groups" :key="group.blob">
                        <span v-for="r in group.rows" :key="r[2]" class="scans">
                            <img :src="r[13]" @click.right.prevent="showSheetImage('cr/page-'+group.rows[0][1]+'-'+group.rows[0][4]+'.jpg')"/>
                        </span>
                    </span>
                </span>
            </div>

            <label>
                <input type="checkbox" v-model="displayForMiniset"/>
                <span class="checkable">For miniset review</span>
            </label>
            <div v-if="displayForMiniset" class="for-miniset">
                <div v-for="(row,i) in data_rows" :key="i">
                    <div v-if="guess[i] !== undefined" class="img1em">
                        <a href=" " @click.prevent="addGuessToMiniset(boxes[guess[i]], row, guess[i], i)">[add-all]</a>
                        <div v-for="anno in makeListForMiniset(boxes[guess[i]], row)"
                             class="sample">
                             <span v-if="anno == 'ENDGROUP'" style="display: inline-block; width: 5em;"></span>
                             <span v-else>
                                {{anno[0]}}<br/><img :src="anno[1][13]"/>
                            </span>
                        </div>
                   </div>
                </div>
            </div>

            
            <pre class="debug">{{data_rows}}</pre>
            <pre class="debug">{{cfg}}</pre>
        </div>
    </script>


</head>
<body>
    <div id="main">
        <h1>AMC Parasiting: {{project_path}}
            <a v-for="(v,k) in {identify: 'Id', grade: 'Grade', more: 'More'}" :class="{'current-menu': tab=='exam-'+k}" @click="tab = 'exam-'+k">[{{v}}]</a>
        </h1>

        <exam-identify v-if="tab == 'exam-identify'" :project_path="project_full_path" @add-to-miniset="miniset.push($event)"></exam-identify>
        <exam-grade v-if="tab == 'exam-grade'" :project_path="project_full_path" @add-to-miniset="miniset.push($event)"></exam-grade>

        <hr/>
        <div class="current-miniset">
            <div v-for="anno,ia in sortedMiniset"
                :class="{sample: true, leftborder: ia>0 && anno[0] != sortedMiniset[ia-1][0]}"
                @click="removeFromMiniset(anno)"
                >
                {{anno[0]}}<br/><img :src="anno[1][13]"/>
            </div>
            <a class="button" @click="saveCurrentMiniset()">Save Miniset</a>
            <br/>{{project_path}}
        </div>
        <pre class="debug">{{debug_logs}}</pre>
    </div>    

    <script src="lib/vuejspython.js"></script>
    <script src="suggestions.js"></script>
    <script>

    vuejspython.component('ExamGrade', 'exam-grade', {
        template: '#component-exam-grade',
        data: () => ({
            currentField: 0,
            currentUser: 0,
            showAnnotations: false,
            guess: [], // field -> user -> guess
            status: 'Loading...',
            currentSheetImage: '',
            currentSheetImageBBox: null,
        }),
        mounted() {
            // hum vuejspython setup is actually async it seems -> should look at async components to be better integrated I think
            setTimeout(()=> this.doInit(), 1000)
            this.guess[this.currentField] = {}
        },
        watch: {
            /*currentField(f) {
                console.log("FIELD",f)
                if (!(f in this.guess)) {
                    this.guess[f] = {}
                }
            },*/
            boxes(boxes) {
                if (boxes === undefined) return
                if (boxes === {}) return
                if (this.currentFieldDescription === null) return

                if (!(this.currentField in this.guess)) {
                    this.guess[this.currentField] = {}
                }
                let g = this.guess[this.currentField]
                let props = this.currentFieldDescription.propositions
                let first = props[0]
                suggestions = {DEFAULT: props}
                console.log("DO GUESS")
                for (let u of Object.keys(boxes)) {
                    if (!(u in g)) {
                        //g[u] = first
                        const bg = S.bestGuess(boxes[u].group, suggestions)
                        if (bg === null) {
                            // empty answer
                        }
                        const [sug, imax, dists] = S.bestGuess(boxes[u].group, suggestions)
                        g[u] = props[imax]
                    }
                }
            },
        },
        computed : {
            noCfg() {
                return this.cfg.fields === undefined
            },
            fields() {
                if (this.noCfg) return []
                return this.cfg.fields.more
            },
            fieldStringId() {
                return this.fields.map(o => o.name + (o.boxes.length>0 ? JSON.stringify(o.boxes) : '')) // set threshold to 1 to have cleaner names sometimes
            },
            currentFieldDescription() {
                if (this.noCfg) return null
                return this.fields[this.currentField]
            },
            boxes() {
                if (this.noCfg) return {}
                if (typeof this.raw_boxes === 'undefined') return {}
                let qId = this.currentFieldDescription.boxes[0]
                let data = this.raw_boxes[qId]
                if (data === undefined || data === []) {
                    this.status = 'Waiting for boxes for '+qId
                    this.load_boxes(qId)
                    return // wait for this.raw_boxes to be loaded for this key
                }
                this.status = ''
                let get = (d, name, q, min = 0, max = undefined) => ({ name, blob: name + '--' + q + '--' + min + '--' + max, rows: d.filter(r => r[7] === q).slice(min, max) })
                let boxes = {}
                console.log("PARSE BOXES")
                Object.keys(data).forEach(u => {

                    let d = data[u]
                    boxes[u] = {
                        student: u,
                        group: get(d, this.fieldStringId[this.currentField], ...this.currentFieldDescription.boxes),
                    }
                })
                return boxes
            },
            orderedUsers() {
                return Object.keys(this.boxes)
            },
        },
        methods: {
            async doInit() {
                console.log("DOINIT")
                await this.load_yaml_config()
                console.log("DOINIT2")
                let x = await this.load_xlsx()
                console.log("DOINIT3", x)
                for (let r of x) {
                    let u = r[0]
                    if (u === "examid") continue
                    r.forEach((v, c) => {
                        if (c == 0) return
                        let fStrId = x[0][c]
                        let f = this.fieldStringId.indexOf(fStrId)
                        if (!(f in this.guess)) this.guess[f] = {}
                        if (v === '=""') v = ''
                        if (v !== null) this.guess[f][u] = v
                    })
                }
            },
            async showSheetImage (imPath, zoneid=null) {
                this.currentSheetImageBBox = null
                this.currentSheetImage = this.project_path.replace(/^.*\/MC-Projects\//, './MC/') + '/' + imPath
                this.focusKeyboardController()
                if (zoneid !== null) {
                    this.currentSheetImageBBox = await this.load_scanzone_position(zoneid)
                }
            },
            focusKeyboardController() {
                this.$refs.autofocus.focus()
            },
            affectGuess(f,u,g, refocus=true) {
                this.$set(this.guess, f, { ...this.guess[f], [u]: g })
                if (refocus) {
                    this.currentUser = this.orderedUsers.indexOf(u)
                    this.focusKeyboardController()
                }
            },
            addColumnToMiniset(f, t, neg=false) {
                if (t.length !== 1) return
                for (let u in this.guess[f]) {
                    let ug = this.guess[f][u]
                    if (neg != (ug !== t)) continue
                    let g = this.boxes[u].group
                    this.$emit('add-to-miniset', [ug[0], g.rows[0]])
                }
            },
            keydown(ev) {
                var k = ev.key
                var prevDef = true
                if (k === 'Escape') {
                    //this.loadBoth()
                    this.currentSheetImage = ''
                } else if (k === 'Backspace') {
                    this.currentUser = 0
                } else if (k === 'Enter') {
                    // this.save()
                } else if (k === 'ArrowUp') {
                    this.currentUser = Math.max(this.currentUser - 1 , 0)
                    this.$refs.userTable.children[this.currentUser].scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"})
                } else if (k === 'ArrowDown') {
                    this.currentUser = Math.min(this.currentUser + 1, this.orderedUsers.length - 1)
                    this.$refs.userTable.children[this.currentUser].scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"})
                } else if (k === 'ArrowLeft' || k === 'ArrowRight') {
                    let f = this.currentField
                    let u = this.orderedUsers[this.currentUser]
                    let sug = this.cfg.fields.more[f].propositions
                    let gotI = sug.indexOf(this.guess[f][u]) + (k === 'ArrowLeft' ? -1 : 1)
                    let got = sug[(gotI + sug.length) % sug.length]
                    if (got !== undefined) {
                        this.affectGuess(f, u, got)
                    }
                } else if (k === 'a') {
                    let f = this.currentField
                    let u = this.orderedUsers[this.currentUser]
                    let sug = this.cfg.fields.more[f].propositions
                    let got = sug[0]
                    this.affectGuess(f, u, got)
                } else if (k === 'u') {
                    let f = this.currentField
                    let u = this.orderedUsers[this.currentUser]
                    let sug = this.cfg.fields.more[f].propositions
                    let got = sug[sug.length-1]
                    this.affectGuess(f, u, got)
                } else if (k === 'Tab') {
                    this.currentField = Math.max(0, Math.min(this.fields.length, this.currentField + (ev.shiftKey ? -1 : 1)))
                } else if (k === 'x') {
                    //this.setCurrentToNoGuess()
                } else {
                    prevDef = false
                    console.log('Unused event', ev)
                }
                if (prevDef) {
                    ev.preventDefault()
                }
            },
            doSave() {
                this.saveXlsx(true)
                this.saveXlsx()
            },
            saveXlsx(grade = false) {
                let content = [...Array(this.guess.length).keys()].map(f => {
                    let m = this.guess[f]
                    console.log(f, m)
                    if (m === undefined) return {}
                    let map = {}
                    Object.keys(m).forEach(k => {
                        map[k] = m[k]
                        if (map[k] == '') map[k] = '=""' // avoid getting null when loading back
                        if (grade) {
                            let suff = map[k].replace(/.*±/, '')
                            if (suff !== map[k]) {
                                map[k] = parseFloat(suff)
                            } else {
                                let ok = this.cfg.fields.more[f].ok
                                if (ok === undefined) {
                                    ok = this.cfg.fields.more[f].propositions[0]
                                }
                                map[k] = map[k] === ok ? 1 : 0
                            }
                        }
                    })
                    return map
                })

                let newSheet = {
                    pro: this.projectDir,
                    title: grade ? 'OCRGrade-%d' : 'OCR-%d',
                    header: this.fieldStringId,
                    content,
                    callback: grade ? 'xlsx-saved' : 'on-xlsx-saved-save-xlsx-grade'
                }
                this.save_xlsx(newSheet)
            },


        },
    })

    vuejspython.component('ExamIdentify', 'exam-identify', {
        template: '#component-exam-identify',
        data: () => ({
            currentUnguessed: 1,
            displayForMiniset: false,
            currentSheetImage: '',
        }),
        computed: {
            boxes: function() {
                let data = this.raw_boxes
                let get = (d, name, q, min = 0, max = undefined) => ({ name, blob: name + '--' + q + '--' + min + '--' + max, rows: d.filter(r => r[7] === q).slice(min, max) })
                let boxes = {}
                //this.unguessed = {}
                Object.keys(data).forEach(u => {
                    let d = data[u]
                    boxes[u] = {
                        student: u,
                        groups: [
                            get(d, 'firstname', ...this.cfg.fields.firstname),
                            get(d, 'lastname', ...this.cfg.fields.lastname)
                        ]
                    }
                })
                return boxes
            },
            unguessed: function() {
                let ung = JSON.parse(JSON.stringify(Object.keys(this.boxes)))
                for (let i in this.guess) {
                    ung.splice(ung.indexOf(this.guess[i]), 1)
                }
                return ung
            },
        },
        methods: {
            showSheetImage(imPath) {
                this.currentSheetImage = this.project_path.replace(/^.*\/MC-Projects\//, './MC/') + '/' + imPath
            },
            makeListForMiniset(bo, row) {
                let targets = [row[1].toUpperCase(), row[2].toUpperCase()] // this is the non-generic line
                let res = []
                for (let gi in bo.groups) {
                    let g = bo.groups[gi]
                    let t = targets[gi]

                    let i = 0
                    let j = 0
                    while (i < t.length && j < g.rows.length) {
                        while (j < g.rows.length && g.rows[j][12] == '_') j++
                        if (j < g.rows.length) {
                            res.push([t[i], g.rows[j]])
                        }
                        i++
                        j++
                    }
                    res.push('ENDGROUP')
                }
                return res
            },
            addGuessToMiniset(bo, row, _g, _i) {
                for (let ev of this.makeListForMiniset(bo, row)) {
                    if (ev == 'ENDGROUP') continue;
                    this.$emit('add-to-miniset', ev)
                }
            },
            iterateGuess() {
                this.fillGuesses([...Object.values(this.guess)], (o, i) => this.guess[i] !== undefined ? null : o)
            },
            fillGuesses(skip = [], filt = o => o) {
                let upper = v => v === null ? null : v.toUpperCase()
                let suggestions = {
                    firstname: this.data_rows.map(o => upper(o[1])).map(filt),
                    lastname: this.data_rows.map(o => upper(o[2])).map(filt)
                }
                console.log(suggestions)
                for (let k in this.boxes) {
                    if (skip.indexOf(k) !== -1) continue
                    let guessFirstname = S.bestGuess(this.boxes[k].groups[0], suggestions)
                    let guessLastname = S.bestGuess(this.boxes[k].groups[1], suggestions)
                    let ok = false
                    if (guessFirstname !== null && guessLastname !== null) {
                        if (guessFirstname[1] === guessLastname[1] || suggestions.firstname[guessLastname[1]] === guessFirstname[0]) {
                            if (this.guess[guessLastname[1]] === undefined || this.guess[guessLastname[1]] === k) {
                                this.affect_user_to_row(k, guessLastname[1])
                                ok = true
                            }
                        }
                    }
                    if (!ok) {
                        if (guessFirstname === null) guessFirstname = [-1, -2, -3]
                        if (guessLastname === null) guessLastname = [-1, -2, -3]
                        console.log(k, ':', guessFirstname[1] === guessLastname[1], guessFirstname[1], guessLastname[1], guessFirstname[0], guessLastname[0])
                        //this.unguessed[k] = { k, log: [k, ':', guessFirstname[1] === guessLastname[1], guessFirstname[1], guessLastname[1], guessFirstname[0], guessLastname[0]] }
                    }
                }
            },

        }
    })
    
    vuejspython.start({
        data: () => ({
            tab: 'exam-grade',
            miniset: [],
        }),
        methods: {
            removeFromMiniset(anno) {
                let i = this.miniset.map(a => a[1][13]).indexOf(anno[1][13])
                if (i != -1) {
                    this.miniset.splice(i, 1)
                }
            },
            saveCurrentMiniset() {
                this.save_miniset(this.miniset.map(anno => [anno[0], anno[1][13]]))
            },
        },
        computed: {
            sortedMiniset() {
                let res = [...this.miniset]
                res.sort((a, b) => a[0].localeCompare(b[0]))
                return res
            },
        },
    })
    </script>
</body>
</html>

